:root{

}

body{

}
/* incrustation de l'image de fond du header */
header{
    position: relative;
    background-image: url(image/bg_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    max-width: 100%;

    flex-wrap: wrap; 
}
/* configuration de la bar de navigation */
.entete{
     max-width: 1200px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
    border: none;
    /* background-color: rgba(0, 0, 0, 0.192); */
    color: white;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
/* Positionnement des element dans la bar de navigation */
.navigation{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;   
    flex-wrap: wrap;
}
/* configuration des lien dans le menu */
.header-lien{
    text-align: center;
    text-decoration: none;
    color: white;
}
/* incrustation de l'image du header au centre*/
.logo-imag{
    background-image: url(image/logo_header.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 300px;
} 
/* Effet hover sur l'image(change l'image 'logo_header-->logo_hover' */
.logo-imag:hover{
    background-image: url(image/logo_hover.png);
}
/* Contenu du header(h1-p-bouton'look more' */
.contenu{
    color: white;
    display: block;
    margin-top: 190px;
    padding: 64px; 
    gap: 15px;
    max-width: 80%;
    text-align: right;
    flex-wrap: wrap;
  
}
/* Configuration du bouton 'look more' */
.lookmore{   
    color: white;
    border: 1px solid black;
    border: none;
    border-radius: 60px;
    padding: 5px 25px;
    text-decoration: none;
    background-color: #CCA57C;
    text-align: center; 
}
/* Positiionnement du bouton 'look more' */
.more{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 30px; 
}
/* Configuration des social-lien 'facebook...' */
.media-back{
 display: flex;
 flex-direction: column;
 background-color: #272727;
 padding: 10px 15px;
 border-radius: 8px;

}
/* Positionnement des social-lien */
.media{
    position: absolute;
    bottom: 20px;
    left: 20px;
    
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
 
}
/* Couleur des social-lien */
.media-effet{
    background-color: #272727;
  
}
/* Effet hover-survol des social-lien */
.media-effet:hover{
    background-color: #CCA57C;
}








/* Main */


/*SECTION 1  */

/* color arriere plan du main */
main{
    background-color: #606060; 
}
/* Aligne les element en ligne avec un espace entre eux(texte et image) */
.contenaire-txt-img{
    display: flex;
    gap: 20px;
}
/* .contenaire-txt-img > div {
    text-align: left;
} */
/* Color de fond section 1 */
.aboutgohall{
    background-color: #272727;
    /* display: flex; */
}
/* ?????? */
.contenaire-flex{
    display: flex;
    /* gap: 60px; */
}
/* Dimention des section */
.section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px;
    /* max-height: 705px; */
}

/* color h2 et center */
h2{
    text-align: center;
    color: white;   
}
 /*positionnemenet hauteur du titre avec un margin-bottom  */
.placement-title-h{
    margin-bottom: 80px;
}
/* color titre et paragraphe section 1 */
.gohall, #para2colr{
    color: #CCA57C;
    
}
/* Configuration du 1er paragraphe */
.paraweturn{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}
/* Aligne les paragraphe en column avec un espacement(gap) et un margin */
.about-para-gohall{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;

}

.para2color {
    /* padding: 40px;     */
    
}
/* Ajoute une border-letf au paragraphe du millieu 
avec un pading pour lespacement entre la bar et le txt */
#para2colr{
    border-left: 3px solid #CCA57C;
    padding-left: 70px;
    
}
/* color pour les paragraphe */
p{
    color: white;
    
}
/* Reglage de la dimention de l'image et son placement */
.londonhall img{
    object-fit: contain;
    width: 850px;
    height: 350px;
    margin-top: 50px;
    align-items: center;

}
/* Réglage des margin de l'image London,
 avec une position relative attiré son element(titre'LONDON */
.londonhall{
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}
/* Réglage du titre de l'mage LONDON avec 
une position absolute pour quil soi lier a son element(image LONDON)  */
#londonhall{
    position: absolute;
    margin-top: -70px;
    margin-left: 10px;
    display: inline;
    border: 1px solid black;
    border: none;
    padding: 5px 8px;
    background-color: #CCA57C;
    text-align: center;     
}







/* SECTION 2 */
/* color du 2eme mot du title */
.projet-clr{
    color: #272727;
}
/* Color du title h3 */
h3{
    color: white;
}
/* Color duParagraphe section 2 + espacement(margin-top) */
.para-color-projets{
    color:#272727 ;
    margin-top: 60px;
}
/* Aligne les element en ligne avec un espacement(gap) */
.paris-flex{
    display: flex;
    gap: 16px;
}
/* Inplantation de la position relavive sur les images (paris-london) 
pour attiré son element */
.image-paris, .image-london{
    position: relative;  
}
/* Reglage position top letf et 
position absolute pour se diregé vers on element relative(image paris) */
.paris-text-background-one{
    position: absolute;
    top: 20px;
    left: 20px;
}
/* Reglage position top letf et 
position absolute pour se diregé vers on element relative(image paris) */
.paris-text-background-two{
    position: absolute;
    top: 40px;
    left: 20px;
}
/* Reglage position top letf et 
position absolute pour se diregé vers on element relative(image paris) */
.paris-text-background-tree{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
/* Reglage position top letf et 
position absolute pour se diregé vers on element relative(image london) */
.london-text-background-one{
    position: absolute;
    top: 20px;
    left: 20px;
}
/* Reglage position top letf et 
position absolute pour se diregé vers on element relative(image london) */
.london-text-background-two{
    position: absolute;
    top: 40px;
    left: 20px;
}
/* Reglage position top letf et 
position absolute pour se diregé vers on element relative(image london) */
.london-text-background-tree{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
/* Reglage color */
.years-of-success{
    color: black;
}
/* Réglage disposition 12 years en column */
.years{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
   flex-wrap: wrap;
    
}
/* Dimention de limage 12 avec un margin-bottom por lespacement */
.tweelve{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 60px;
}
/* Dimention des images(Paris-London) */
.concert-image{
    width: 800px;
    height: auto;
    object-fit: contain;
}


/* .image-paris{
    background-image: url(image/paris.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */


/* Color des span(txt dans limage) */
.paris-span, .london-span{
    /* color: #CCA57C; */
    color: #CCA57C;
}
/* Color fond About Projet(background section 2) */
.about-projet{
    background-color: #CCA57C;   
}
/* Réglage border Mois(Janvier-Mars) 
avec display inline mais le border que sur le txt */
.mois-border-background{
    display: inline;
    color: white;
    border: 1px solid black;
    border: none;
    border-radius: 3px;
    padding: 5px 14px;
    text-decoration: none;
    background-color: #272727 ;
}

/* Section 3 */
/* Color du titlte h4 */
h4{
    color: white;
}
/* Color des paragraphe */
.about-para-service{
    color: #ffffff50;
}
/* Color du fond de about service(background) */
.develop{
    background-color: #272727;
}
/* Aligne tout les element en ligne(rows) */
.world-icon{
    display: flex; 
}
/* Aligne la carte et 
son paragraphe en column avec un espacemententre les 2(gap) */
.wolrd-class{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Réglage de l'image World 
avec un border en haut et en bas et réglage de la dimention */
.world{
    border: 3px solid #CCA57C;
    border-left: none;
    border-right: none;
    object-fit: contain;
    width: 400px;
    height: 200px;
    flex-wrap: wrap;
}
/* Taille des icons */
.icon{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
/* Réglage bouton MORE-Color-padding-background 
et avec un border left */
.more-service{
    color: #CCA57C;
    border-left: 3px solid #CCA57C;
    text-decoration: none;
    padding: 3px 55px;
    background-color: #606060;
   
}
    
/* footer */
/* incrustatiotn-Dimention de limage background footer */
footer{
    background-image: url(image/bg_footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    max-width: 100%;
    flex-wrap: wrap;
}
/* Réglage position(aligne les element en rows et son center */
.footer{
    /* display: grid; */
    /* grid-template-rows: repeat(2,1fr); */
    /* width: 60px;  */
    /* max-width: 900px; */
    /* gap: 20px; */
    display: flex;
    justify-content: center;       
}
/* Taille du tittle h5 */
h5{
    font-size: 25px;
}

/* Color des txt-formulaire(name-email-msg) */
#full-name, #email, .backgroundformulaire::placeholder{
    color: white;
}

/* incrustation de l'image sur le footer,Réglage de l'image dimenention */
.footer-resquest{
    margin-top: 60px;
    background-image: url(image/visuelgauche.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 375px;
    width: 375px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    flex-wrap: wrap;
}
/* Réglage formulaire taille-position-background */
.formulaire{
    margin-top: 60px;
    background-color: #000000b7;
    
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
/* Color h5 */
h5{
    color: white;
}

/* Configuration du btn-envoyer du formulaire */
.bouton-envoyer{
    margin-bottom: -10px;
    border: 1px solid black;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background-color: #CCA57C;
    padding: 8px;
    font-weight: bolder ;
    cursor: pointer;
}
/* configuration du formulaire */
.backgroundformulaire{
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid white;
    height: auto;
    width:375px;
    flex-wrap: wrap;
}
/* Espace entre msg et le btn envoyer */
#message{
margin-bottom: 10px;
}